<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ca.tannerrutgers.Warpy"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="11"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="ca.tannerrutgers.Warpy.activities.WarpyActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity android:name="ca.tannerrutgers.Warpy.activities.SettingsActivity"
                  android:label="Settings"
                  android:screenOrientation="portrait" />
    </application>
</manifest>
